{# {% extends 'base.html.twig' %}

{% block title %}Edition Catégorie{% endblock %}

{% block body %}
<div class="col-3">
    <h1 class="row">Edition Catégorie</h1>
        <div class="row justify-content-center">
            <div class="row-4">
                {{ include('back/category/_form.html.twig', {'button_label': 'Mise à jour'}) }}

                <a class= "btn btn-warning" href="{{ path('app_back_category_index') }}">Retour</a>

                {{ include('back/category/_delete_form.html.twig') }}
            </div>
        </div>
</div>
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Edition Catégorie{% endblock %}

{% block body %}
<div>
    <h1>Edition Catégorie</h1>
        <div class="d-flex">
            <div class="col-8">
                {{ include('back/category/_form.html.twig', {'button_label': 'Mise à jour'}) }}
            </div>
            <div class="col-8">
                {{ include('back/category/_delete_form.html.twig') }}
            </div>
            <div class="col-8">
                <a class="btn btn-warning" href="{{ path('app_back_category_index') }}">Retour</a>
            </div>
        </div>
    
</div>
{% endblock %}
