{% extends 'base.html.twig' %}

{% block title %}Eat{% endblock %}

{% block body %}
    <h1>Eat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ eat.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ eat.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ eat.price }}</td>
            </tr>
            <tr>
                <th>Vegan</th>
                <td>{{ eat.vegan ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>GlutenFree</th>
                <td>{{ eat.glutenFree ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ eat.createdAt ? eat.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ eat.updatedAt ? eat.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_eat_index') }}">Retour</a>

    <a href="{{ path('app_back_eat_edit', {'id': eat.id}) }}">Modifier</a>

    {{ include('back/eat/_delete_form.html.twig') }}
{% endblock %}
