{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <h1>Restaurant</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Histoire</th>
                <th>Midi</th>
                <th>Soir</th>
                <th>Info</th>
                <th>Addresse</th>
                <th>Téléphone</th>
                <th>Créé le</th>
                <th>Modifié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.history }}</td>
                <td>{{ restaurant.openingLunch }}</td>
                <td>{{ restaurant.openingEvening }}</td>
                <td>{{ restaurant.info }}</td>
                <td>{{ restaurant.address }}</td>
                <td>{{ restaurant.phone }}</td>
                <td>{{ restaurant.createdAt ? restaurant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ restaurant.updatedAt ? restaurant.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_back_restaurant_show', {'id': restaurant.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('app_back_restaurant_edit', {'id': restaurant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_back_restaurant_new') }}">Ajouter</a>
{% endblock %}
