{% extends 'base.html.twig' %}

{% block title %}Les Avis{% endblock %}

{% block body %}
    <h1>Les Avis</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.comment }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_back_review_show', {'id': review.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_back_review_new') }}">Ajouter</a>
{% endblock %}
